.sectionCart {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.sectionCartQt {
    width: 25px;
    height: 23px;
    background: rgb(73, 158, 37);
    border-radius: 100%;
    text-align: center;
    position: relative;
    top: 30px;
    left: -20px;
}