.header {
    background: rgb(0, 134, 255);
    color: #ffff;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}

.sectionTitle {
    font-family: 'fangsong';
}

.input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.sectionInputImg {
    display: flex;
    justify-items: center;
}

.sectionImg {
    position: relative;
    left: -40px;
    cursor: pointer;
    top: 4px;
}

.sectionRegister {
    font-size: 12px;
}
