.sectionMenuNavegation{
    margin-top: 85px;
    display: flex;
    justify-content: center;
}

.modelNav_one{
    position: relative;
    top: -26px;
    padding: 12px;
    background: #ffff;
    border-radius: 5px;
    color: blue;   
}
.modal{
    background-color: white;
    position: relative;
    border-radius: 2px;
    top: 6px;
    left: 5px;
    padding: 10px;
    display: none;
  }
  .noneModel{
    margin: 5px;
    padding: 10px;
    color: #939393
  }
  .blockModel{
    margin: 5px;
    padding: 10px;
    background: #ffff;
    border-radius: 5px;
    color: blue;   
}